header {
  background-color: #FEF1EB;
}

.logo {
  float: left;
  padding: 20px;
  height: 50px;
  width: 50px;
}

li {
  float: left;
  padding: 30px;
  list-style: none;
}

.top-wrapper {
  background-img: url(https://www.canva.com/design/DAEfFwHIJo0/view)；
  background-size: cover;
}

.top-wrapper h1 h2 {
  color: white;
  opaciy: 0.8;
  textalign: center;
}
