body {
  margin: 0;
}

.container {
  margin: 0 auto;
}

header {
  background-color: #FEF1EB;
  height: 100px;
}

.header-logo {
  float: left;
}

a {
  float: left;
  padding: 20px 50px;
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
}

.top-wrapper {
  background-image: url(top-wrapper用画像.pdf);
  background-size: cover;
}

.top-wrapper h1 {
  color: rgba(255,255,255,0.8);
  text-align: center;
  font-size: 50px;
  letter-spacing:5px;
}

.top-wrapper h2 {
  color: rgba(255,255,255,0.8)
  text-align: center;
}

.main {
  background-color: #FEF1EB;
}

.fas {
  color: #191F3C;
}

.content {
  
  
}


