.container {
  margin: 0 auto;
}

header {
  background-color: #FEF1EB;
  height: 100px;
}

.header-logo {
  float: left;
}

a {
  float: left;
  padding: 20px 50px;
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
}

.top-wrapper {
  background-image: url(master/mysite/Green Playful Organic Freelance Graphic Designer Marketing Presentation.png)ï¼›
  background-size: cover;
}

.top-wrapper h1 {
  color:rgba(255,255,255,0.8);
  text-align: center;
  letter-spacing:10px;
}

.top-wrapper h2 {
  color:rgba(255,255,255,0.8)
  text-align:center;
}
