body {
  margin: 0;
}

.container {
  width: 80%;
  padding: 0 20px;
  margin: 0 auto;
}

header {
  background-color: #C6D3C2;
  height: 100px;
}

.header-logo {
  float: left;
  padding: 0 20px; 
  border-radius: 70px;
  height: 80%;
}

a {
  float: left;
  padding: 40px 50px;
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

.top-wrapper {
  background-image: url(top-wrapper用画像.png);
  background-size: cover;
  height: 700px;
}

.top-wrapper h1 {
  color: rgba(255,255,255,0.8);
  font-size: 120px;
  letter-spacing:8px;
  text-align: center;
  padding-top: 200px;
}

.top-wrapper h2 {
  color: rgba(255,255,255,0.8);
  font-size: 50px;
  text-align: center;
  padding: 50px 0;
}

.main {
  background-color: #FEF1EB;
  height: 1800px;
  width: １００％;
}

span {
  display: inline-block;
  text-align: center;
  padding-top: 30px;
}

.fas {
  color: #191F3C;
}

h3 {
  text-align: center;
  font-size: 30px;
}

.content {
  float: left;
  width: 33%;
  text-align: center;
}

footer {
  background-color: #C6D3C2; 
  height: 100px;
{

footer a {
  display: inline-block;
  margin: 0 auto;
}
